html {
  background-color: #EFEFEF;
 
}

#title {
  color: #A9A9A9 ;
  background-color: #CAEBF2 ;
  font-size: 400%;
  letter-spacing: 20px;
  text-align: center;

}

.submit{
resize: none;
height: 200px;
width: 350px;
display: inline-block;
position: relative;
left: 20px;
top: 20px;

}

.result{
  height: 205px;
  width: 355px;
  background-color:white;
  border: 1px solid gray;
  border-right-style: dashed;
  border-left-style: dashed;
  display: inline-block;
  position: relative;
  left: 180px;
  top: 22px;
}

.btn {
  position: relative;
  bottom: 120px;
  left: 600x;
  bottom: 50 ;
}