html {
    background-color: #EFEFEF;
   
}

#title {
    color: #A9A9A9 ;
    background-color: #CAEBF2 ;
    font-size: 400%;
    letter-spacing: 20px;
    text-align: center;

}
.box {
    display: inline;
    position: static;
}

.textarea {
    resize: none;
  }